body {
    margin: 0;
    padding: 0;
    background-image: url('https://r4.wallpaperflare.com/wallpaper/448/174/357/neon-4k-hd-best-for-desktop-wallpaper-b896bd6800903c48d09c01fed852c41a.jpg');
    background-size: auto;
    background-position: center;
  }
  